@import '../../assets/common-styles.scss';

.search-bar {
    display: flex;
    justify-content: center;
    margin: $medium-spacing 0px $medium-spacing 0px;

    .form-field {
        width: 50%;
    }

    .button {
        margin: 5px 0px 0px 15px;
        font-size: $font-large;
        color: $primary-color;
    }
}

.results-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;

    .card {
        flex: 0 0 30%;
        margin: $medium-spacing;
    }

    .error-card {
        background-color: pink;
    }
}